<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/index.css" />
    <title>Document</title>
</head>
<body>
<h1>Movie List</h1>
<table>
    <tr>
        <th></th>
        <th>Id</th>
        <th>Title</th>
        <th>Release Date</th>
        <th>Age Rating</th>
        <th>Genres</th>
        <th>Runtime</th>
        <th>Review</th>
    </tr>
    <tr th:each="movie : ${m}">
        <td><img width="100px" th:src="${movie.imageURL}"/></td>
        <td th:text="${movie.id}"></td>
        <td th:text="${movie.title}"></td>
        <td th:text="${movie.releaseDate}"></td>
        <td th:text="${movie.ageRating}"></td>
        <td th:text="${movie.genres}"></td>
        <td th:text="${movie.runtime}"></td>
        <td th:text="${movie.review}"></td>
    </tr>
</table>
</body>
</html>